Q1.You have a categorical feature containing missing values that you want to replace with predicted values

In [11]:
import numpy as np
from sklearn.impute import SimpleImputer
import pandas as pd

In [12]:
X=pd.DataFrame([[0,2.10,1.45],[1,2,3],[0,2.22,1.24],[4,5,1],[np.nan,9.0,8.9]])
X

     0     1     2
0  0.0  2.10  1.45
1  1.0  2.00  3.00
2  0.0  2.22  1.24
3  4.0  5.00  1.00
4  NaN  9.00  8.90

In [14]:
imputer=SimpleImputer(strategy='most_frequent')
imputer.fit_transform(X)

array([[0.  , 2.1 , 1.45],
       [1.  , 2.  , 3.  ],
       [0.  , 2.22, 1.24],
       [4.  , 5.  , 1.  ],
       [0.  , 9.  , 8.9 ]])

Q2.You have some unstructured text data and want to complete some basic cleaning.

In [15]:
text_data=["  Interrobang. By Aishwarya Henriette     ",             "Parking And Going. By Karl Gautier",             "    Today Is The night. By Jarek Prakash   "]
text_data

['  Interrobang. By Aishwarya Henriette     ',
 'Parking And Going. By Karl Gautier',
 '    Today Is The night. By Jarek Prakash   ']

In [16]:
strip_white_space=[string.strip() for string in text_data]
strip_white_space

['Interrobang. By Aishwarya Henriette',
 'Parking And Going. By Karl Gautier',
 'Today Is The night. By Jarek Prakash']

In [17]:
replace_dots=[string.replace(".","") for string in strip_white_space]
replace_dots

['Interrobang By Aishwarya Henriette',
 'Parking And Going By Karl Gautier',
 'Today Is The night By Jarek Prakash']

In [19]:
capital=[string.upper() for string in replace_dots]
capital

['INTERROBANG BY AISHWARYA HENRIETTE',
 'PARKING AND GOING BY KARL GAUTIER',
 'TODAY IS THE NIGHT BY JAREK PRAKASH']

In [20]:
import re
def replace_letters_with_X(string:str)->str:
  return re.sub(r"[a-zA-Z]","X",string)
[replace_letters_with_X(string) for string in capital]

['XXXXXXXXXXX XX XXXXXXXXX XXXXXXXXX',
 'XXXXXXX XXX XXXXX XX XXXX XXXXXXX',
 'XXXXX XX XXX XXXXX XX XXXXX XXXXXXX']

Q3.You have text data with HTML elements and want to extract just the text

In [24]:
from bs4 import BeautifulSoup
html= """<div class='full_name'><span style='font-weight:bold'> Masego</span> Azra</div>"""
soup=BeautifulSoup(html,"xml")
soup.find("div",{"class":"full_name"}).text

' Masego Azra'

Q4.You have a feature of text data and want to remove punctuation.

In [25]:
import unicodedata
import sys
text_data=["Hi!!!!!I. Love. This. Song....",'1000000% AAgree!!!! #LoveIt',"Right?!?!?!"]
punctuation=dict.fromkeys(i for i in range(sys.maxunicode) if unicodedata.category(chr(i)).startswith('P'))
[string.translate(punctuation) for string in text_data]

['HiI Love This Song', '1000000 AAgree LoveIt', 'Right']