In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
import numpy as np
import pandas as pd

In [31]:
iris=datasets.load_iris()
X=iris.data
y=iris.target

standardizer = StandardScaler()
X_std = standardizer.fit_transform(X)

In [32]:
knn=KNeighborsClassifier(n_neighbors=5,n_jobs=-1).fit(X_std,y)
new_observations=[[1,1,1,1]]
knn.predict(new_observations)

array([2])

In [30]:
df=pd.read_csv("/winequality_red.csv")
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [42]:
X=df.iloc[:, : 11]
Y=df.iloc[:,-1]
knn=KNeighborsClassifier(n_neighbors=5,n_jobs=None).fit(X,Y)
new_observation=[[7.5,0.71,0.01,1.9,0.075,11.1,33.0,0.9977,3.52,0.55,9.3]]
knn.predict(new_observation)

array([5])